*{
margin: 0;
padding: 0;
}



/* navbar */

.nav_ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    margin-bottom: 25px;
    padding-right: 20px;
    overflow: hidden;
    background-color: #7135F2;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: flex-end;
    box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.74);
}

.nav_li-a{
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}


.logo_img{
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-top: 4px;
    margin-right: 470px;
}

body{
    background-color: #f2f2f2; 
    display: block;
}

main{
    display: flex;
}

/* formulario registro */

.form_registro{
    width: 30%;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    position: absolute;
    margin-left: 32%;
    border-radius: 22px;
    box-shadow: 3px 3px 40px -7px rgba(0,0,0,0.74);
    display: none;
}

.div_cerrar{
    display: flex;
    height: 20px;    
}

.btn_cerrar{
    width: 20px;
    position: absolute;
    margin-left: 85%;
}

.h1_registro{
    padding: 12px 20px;
    margin: 4px 0;
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input_registro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn_ok{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    background-color: #7135F2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.grid{
    padding-left: 20px;
    display: flex;
    width: 100%;
    
}

/* section juegos */
.section_juegos{
    width: 60%;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.74);

}

.div_h1-titulo{
    display: flex;
    justify-content: center;
    /* height: 500px; */
    background-color: #7135F2;
    margin-bottom: 15px;
    padding-top: 4px;
    padding-bottom: 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.74);

}

.h1_titulo-juegos{
    margin-top: 4px;
    padding-left: 8px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.grid_juegos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    row-gap: 8px;
    column-gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.card_juego{
    height: 150px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 10px 10px 7px -9px rgba(112,112,112,0.82);

}

.img_juego{
    width: 100px;
    height: 100px;
    margin-top: 0;
}

.h1_nombre-juego{
    margin-top: 4px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

/* section puntos */
.section_puntos{
    width: 36%;
    height: 285px;
    padding: 20px;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.74);
    /* height: 300px;
    width: 400px; */

}

.div_puntaje, .puntaje1{
    display: flex;
    flex-direction: row;
    background-color: #9990ec;
    border-radius: 5px;
    height: 35px;
    margin-top: 4px;
    justify-content: space-between;

}
.puntaje1{
    background-color: #aca6e6;
}

.h1_nombre-jugador{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 8px;
    padding-top: 8px;
    font-size: 15px;
}

.h1_puntaje-jugador{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 8px;
    font-size: 15px;
    margin-right: 8px;
    justify-content:flex-end
}

.juego_mayorMenor{
    width: 70%;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    position: absolute;
    margin-left: 170px;
    border-radius: 22px;
    box-shadow: 3px 3px 40px -7px rgba(0,0,0,0.74);
    display: none;
    
}

.div_numero-mayorMenor{
    display: flex;
    flex-direction: column;
    align-items: center;


}

.h1_titulo_juego{
    padding: 5px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.h1_descripcion_juego{
    padding: 5px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.h1_numeroRandom{
    margin-top: 30px;
    padding: 5px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.div_btn_mayorMenor{
    display: flex;
    justify-content: space-around; 
}

.menor,.mayor{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width: 30%;
    height: 60px;
    background-color: #7135F2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.h1_puntos{
    padding: 5px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black; 
}
